body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgba(45,14,38,1);
    color: rgba(85,181,135,1);
    font-family: Montserrat, Ubuntu, Verdana, sans-serif;
    font-weight: 200;
}
.wrapper {
    max-width: 62em;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.small-wrapper {
    max-width: 33.75em;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.edit {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    box-shadow: 0px 12px 24px rgba(0,0,0,0.4);
}
.edit-options-bar {
    border-top: 1px solid rgba(239,175,227,0.1);
    /*background-color: rgba(96,37,81,1);*/
    background: linear-gradient(to bottom, rgba(45,14,38,1), rgba(196,37,81,1));
    position: relative;
    z-index: 3;
}
.nav-button {
    color: white;
    padding: 1em;
    display: inline-block;
    cursor: pointer;
}
form, ul, fieldset, input {
    margin: 0;
    padding: 0;
    border: none;
    background-color: unset;
    list-style: none;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: none;
   background-color: unset;
   color: white;
   font-size: 1em;
   text-align: right;
   font-family: Montserrat, Ubuntu, Verdana, sans-serif;
}
scroll-bar-track-color {
    background: blue;
}
select option {
    padding: 0.5em;
    text-align: right;
}
select::after {
    content: '';
    background-color: black;
    position: absolute;
    height: .6em;
    width: .6em;
    left: 0.3em;
    top: 0.8em;
    background-size: cover;
    background-image: url(/static/timeblob/img/white-menu-triangle.svg);
}
.component-wrapper {
    display: inline;
}
.full-screen {
    width: 100vw;
    height: 100vh;
}
.stretch-to-fill {
    width: 100%;
    height: 100%;
    display: block;
}
.fixed-background {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: rgba(45,14,38,1);
    z-index: -1;
}
.fixed-background.display {
    left: 0;
}
.action-bar {
    display: none;
    width: 100%;
    flex-flow: row;
    z-index: 1;
}
.action-bar-center {
    flex: 1 0 auto;
    padding: 0.5em;
}

.selected-entry .edit .action-bar {
    display: flex;
}
#main-menu-button {
    position: fixed;
    bottom: 0;
    right: 0;
}
.click-catcher {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    z-index: 1;
}
.click-catcher.active {
    display: block;
    background-color: rgba(0,0,0,0.4);
}
.primary-action-stroke {
    stroke: rgba(85,181,135,1);
}

/* ================================
    Stopwatch Styles
================================= */
.timer-area {
    margin: 2em;
    display: inline-flex;
    flex-flow: column;
    vertical-align: middle;
}
#stopwatch {
    display: inline-block;
    position: relative;
    max-height: 65vh;
    box-sizing: border-box;
    cursor: pointer;
}
.v-spacer {
    flex: auto;
}
#clock-face {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#clock-hand {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#stopwatch-time {
    color: rgba(160,60,139,0);
    text-align: center;
    position: absolute;
    margin: 0;
    width: 100%;
    transition: color 1s;
    top: calc(50% - 0.75em);
}
#stopwatch.running #stopwatch-time {
  color: rgba(255,255,255,1)
}
#clock-hand-inner-glow, #clock-hand-big-back-glow, #clock-face-inner {
    opacity: 0;
    transition: opacity 2s;
}
#stopwatch.running #clock-hand #clock-hand-inner-glow, #stopwatch.running #clock-hand #clock-hand-big-back-glow,  #stopwatch.running #clock-face #clock-face-inner {
    opacity: 1;
}
#swap-icon {
    display: none;
    padding: 0.5em;
    flex: 0 0 auto;
}

/* ================================
    Entry Form Styles
================================= */
form.edit-form {
    text-align: left;
    padding: 0.5em 0 1em;
}
edit-entry-form form {
    background: linear-gradient(to bottom, rgba(96,37,81,1), rgba(43,20,48,1) 33%);
}
form.edit-form label {
    padding: 0.65rem 1rem 0.35rem;
    font-size: 0.7rem;
    display: block;
    color: rgba(239,175,227,0.5);
    border: none;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
form.edit-form input {
    padding: 0 1em 0.5em;
    color: rgba(239,175,227,1);
    border: none;
    width: 100%;
    font-family: Montserrat, Ubuntu, Verdana, sans-serif;
    font-size: 1em;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(239,174,60,0);
    transition: 0.2s;
}
form.edit-form input:focus, form.edit-form input:focus + input {
    color: white;
    border-bottom: 1px solid rgba(196,37,81,1);
}
#input-edit-end-date, #input-edit-start-date {
    display: block;
}
.form-time-line {
    display: flex;
}
.form-time-line div {
    flex: 1 0.5 auto;
}
.form-time-line div input {
    padding-right: 0;
}

/* ================================
    Current Entry Form
================================= */
#current-entry-summary {
    display: none;
}
#current-entry-summary div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(85,181,135,1);
}
#current-form-area {
    padding: 4em 0 1em;
    max-width: 32em;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
#entry-form-submit-button {
    font-family: Montserrat, Ubuntu, Verdana, sans-serif;
    border: solid 2px rgba(160,60,139,0.5);
    color: rgba(160,60,139,1);
    background: none;
    font-size: 1em;
    padding: 0.2em 1em;
    border-radius: 2px;
    margin-top: 1em;
}

/* ================================
    Picker Window & Quick Swap
================================= */
.picker-window {
    display: block;
    position: absolute;
    background-color: rgba(45,14,38,0.9);
    bottom: 1em;
    left: 1em;
    padding: 0 1em;
    border-radius: 3px;
    box-sizing: border-box;
    width: calc(100% - 2em);
    max-height: 0;
    overflow: hidden;
    z-index: 1;
    transition: 0.2s;
}
.picker-window.active {
    max-height: 70vh;
    padding: 1em;
    border:  1px solid rgba(160,60,139,0.5);;
    overflow: scroll;
}
.notification-banner {
    display: block;
    position: absolute;
    background-color: rgba(45,14,38,0.9);
    top: 1em;
    left: 1em;
    padding: 0 1em;
    border-radius: 3px;
    box-sizing: border-box;
    width: calc(100% - 2em);
    max-height: 0;
    overflow: hidden;
    z-index: 1;
    transition: 0.2s;
}
.notification-banner.active {
    max-height: 70vh;
    padding: 1em;
    border:  1px solid rgba(160,60,139,0.5);;
}
.picker-window li {
    color: rgba(85,181,135,0.8);
    padding: 0.5em 1em;
    width: calc(100% + 2em);
    position: relative;
    left: -1em;
    box-sizing: border-box;
    text-align: left;
    transition: 0.2s;
}
.picker-window li:hover, .picker-window li:active, .manage-list li:hover {
    color: rgba(85,181,135,1);
    background-color: rgba(85,181,135,0.2);
    border-right: 3px solid rgba(255,255,255,1);
}
.picker-window p {
    color: rgba(160,60,139,1);
}
.picker-window svg {
    padding-bottom: 1em;
}

/* ================================
    List View Styles
================================= */
.list-view {
    max-width: 36em;
    margin: 0 auto;
    padding: 3em 0;
    text-align: center;
    overflow: auto;
}
.column-expanding-spacer {
    flex: 1 1 auto;
}
.column-shrinking-spacer {
    flex: 0 1 auto;
}
.nodisplay {
    display: none;
}
#sessions-list {
    list-style: none;
    width: 100%;
    background-color: rgba(96,37,81,1);
    background: linear-gradient(to bottom, rgba(96,37,81,1), rgba(63,40,48,1));
    border-top: 1px solid rgba(110,51,96,1);
    /* this color shows up wrong
    border-top: 1px solid rgba(85,181,135,0.2);
    */
    box-sizing: border-box;
    color: rgba(239,175,227,1);
    font-weight: 200;
    padding: 1em 0;
}
.list-entry {
    text-align: left;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: row;
}
.list-entry:hover {
    background-color: rgba(106,47,91,0.5);
    color: white;
}
.list-entry span:first-child {
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-entry span:nth-child(2n) {
    flex: 0 0 4em;
    text-align: right;
}
.selected-entry .edit, #filters-menu.fade-in form {
    max-height: 1000px;
    overflow: hidden;
}
.selected-entry .list-entry, .selected-entry:hover .list-entry {
    color: rgba(239,175,227,0);
    background-color: rgba(106,47,91,1);
    max-height: 0;
    overflow: hidden;
}
.date-line {
    text-align: center;
    color: rgba(239,175,227,0.32);
    font-size: 0.875em;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: row;
    letter-spacing: 0.1em;
}
.date-line span {
    position: relative;
    top: -0.5em;
    margin: 0  1em;
    border-bottom: solid 1px rgba(239,175,227,0.32);
    flex: auto;
}
.list-view-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid rgba(85,181,135,0.2);
    background-color: rgba(0,61,55,1);
    background: linear-gradient(to bottom, rgba(0,61,55,1), rgba(63,40,48,1));
    box-shadow: 0px -10px 10px rgba(0,0,0,0.2);
    display: none;
    text-align: center;
    transition: right 0.2s;
}
.time-total {
    padding: 1rem;
    flex: 1 0 auto;
    vertical-align: top;
    color: white;
    margin: 0;
}
.time-total .total-time-digits, .time-total .total-time-tag {
    line-height: 1.5rem;
}
.time-total .total-time-tag {
    color: rgba(85,181,135,0.5);
}
#list-view-button {
    display: none;
    padding: 1em;
    position: fixed;
    float: right;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.list-view-end-message {
    padding: 1.5em;
    box-sizing: border-box;
    font-size: 0.9em;
    opacity: 0.5;
}
.selected-entry .edit edit-entry-form .edit-options-bar {
    background: linear-gradient(to bottom, rgba(96,37,81,1), rgba(63,40,48,1));
}

/* ================================
    List Filters Styles
================================= */
#filter-list-title-bar {
    display: inline-flex;
    padding: 0 1em;
    border-top: 1px solid rgba(85,181,135,0.2);
    //border-bottom: 1px solid rgba(85,181,135,0.2);
    background-color: rgba(0,61,55,1);
    background: linear-gradient(to bottom, rgba(0,61,55,1), rgba(63,40,48,1));
    color: rgba(85,181,135,1);
    vertical-align: middle;
    cursor: pointer;
}
#filters-menu {
    z-index: 2;
    width: 100%;
    color: rgba(85,181,135,1);
}
#filters-menu h2 {
    background-color: rgba(0,61,55,1);
    background: linear-gradient(to bottom, rgba(0,61,55,1), rgba(63,40,48,1));
    border-top: 1px solid rgba(85,181,135,0.2);
    color: rgba(85,181,135,1);
    //line-height: 1.5rem;
    padding: 0.5rem;
    margin: 0;
    position: relative;
    bottom: 0;
}
#filters-menu form {
    width: 100%;
    background: linear-gradient(to bottom, rgba(16,35,33,1), rgba(63,40,48,1));
}
#filters-menu form .fieldset {
    padding: 0em 1em;
    position: relative;
}
#filters-menu form .fieldset.active label:before {
    content: '';
    position: absolute;
    display: block;
    height: .6em;
    width: .6em;
    top: 0.75em;
    left: 0.25em;
    background-size: cover;
    background-image: url(/static/timeblob/img/checkmark.svg);
}
#filters-menu form .fieldset input, #filters-menu form .fieldset label {
    padding: 0.5em 0;
    flex: 1 1 auto;
    text-align: left;
    font-family: Montserrat, Ubuntu, Verdana, sans-serif;
    font-size: 1em;
}
#filters-menu form .fieldset select {
    color: white;
}
#filters-menu form .fieldset input {
    text-align: right;
    flex: 0 0 auto;
}
#filters-menu form .fieldset.active label, #filters-menu form .fieldset.active input, #filters-menu form .fieldset.active select {
    color: rgba(85,181,135,1);
}
#filters-menu form.edit .action-bar {
    background-color: rgba(0,61,55,1);
    background: linear-gradient(to bottom, rgba(0,61,55,1), rgba(63,40,48,1));
    border-top: 1px solid rgba(85,181,135,0.2);
    box-shadow: 0px 8px 8px black;
}
list-filters .click-catcher.active {
    display: none;
}

/* ================================
    Manage View
================================= */
#manage-view {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
#manage-view.display {
    right: 0;
}
.top-manage-list-area {
    width: 11.25em;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
}
.top-manage-list-area.display {
    left: 0;
}
#top-manage-list {
    position: fixed;
    margin: 0 0 3.5em 3.5em;
    bottom: 0;
    width: inherit;
}
#top-manage-list li {
    box-sizing: border-box;
    padding: 1em;
    text-align: left;
}
#top-manage-list li.list-item-selected:hover::before {
    content: '';
    background-image: url(/static/timeblob/img/close-x.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    position: absolute;
    display: inline-block;
    width: calc(100% - 2em);
    height: 1.3em;
    color: white;
}
.sublist.display li input {
    text-align: left;
    color: rgba(85,181,135,1);
    box-sizing: border-box;
    padding: 1em 0.5em 0.15em;
    margin: 0 0 0.85em;
    width: 100%;
    font-size: 1em;
    font-family: Montserrat, Ubuntu, Verdana, sans-serif;
    font-weight: 200;
    border-bottom: 1px solid rgba(239,174,60,0);
    transition: 0.3s;
}
.sublist.display li input:focus {
    color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(239,174,60,0.5);
}
.sublist.display li input::-moz-selection, .sublist.display li input::selection  {
    background-color: rgba(80,120,212,1);
}
.sublists-area {
    max-width: 22.5em;
    min-height: 100vh;
    margin-left: 16em;
    padding-top: 30vh;
    display: flex;
    flex-flow: column;
    position: relative;
    top: 0;
    box-sizing: border-box;
}
.sublist {
    display: none;
    padding-bottom: 3.5em;
}
.sublist.display {
    display: block;
}
.list-item-selected {
    color: rgba(255,255,255,1);
    background-color: rgba(85,181,135,0.1);
    border-right: 3px solid rgba(255,255,255,1);
}
#manage-view .action-bar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
}
#manage-view.display .action-bar {
    display: flex;
}

#cancel-manage-view-button, #save-manage-view-button {
    display: none;
}

/* ================================
    Pop-up Menu
================================= */
.popup-menu {
    max-height: 0px;
    z-index: 2;
    position: absolute;
    top: 2em;
    right: 0.5em;
    text-align: left;
    padding: 0;
    background-color: white;
    color: rgba(160,60,139,1);
    overflow: hidden;
    transition: max-height 0.2s;
}
.popup-menu.active {
    max-height: 1000px;
    padding: 0.5em 0;
}
.popup-menu-item {
    padding: 0.5em 1em;
}
.popup-menu-item:hover {
    background-color: lightblue;
}
.popup-menu-item svg {
    vertical-align: middle;
    padding-right: 0.5em;
}
#popup-menu-main-button {
    position: absolute;
    top: 0;
    right: 0;
}

/* ================================
    Responsive Extras
================================= */
@media only screen and (max-width: 540px) {
    .wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
    }
    .timer-area {
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0 2em;
    }
    #stopwatch {
        width: 100%;
    }
    #swap-icon {
        display: inline-block;
        padding-bottom: 4em;
    }
    .popup-menu {
        top: unset;
        bottom: 2em;
    }
    #popup-menu-main-button {
        position: fixed;
        top: unset;
        bottom: 0;
        right: 0;
    }
    #current-form-area {
        padding: 0;
        bottom: -100%;
        position: fixed;
        display: block;
        width: 100vw;
        background-color: rgba(45,14,38,0.9);
        transition: bottom 0.2s;
    }
    #current-form-area.display {
        bottom: 0%;
        display: block;
        z-index: 1;
    }
    #current-entry-form {
        border-top: 1px solid rgba(239,175,227,0.1);
        box-sizing: border-box;
        padding: 1em 0;
        width: 100vw;
    }
    #current-form-area .action-bar {
        display: flex;
        box-sizing: border-box;
        width: 100vw;
    }
    #current-entry-form button {
        display: none;
    }
    .list-view {
        position: absolute;
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(45,14,38,0.8);
        padding: 0;
        background-image: url(/static/timeblob/img/diagonal-pinstripes.svg);
        transition: right 0.2s;
    }
    .list-view.display {
        display: flex;
        right: 0;
    }
    #list-view-button {
        display: inline-block;
    }
    .list-view-nav {
        display: flex;
        right: 100%;
    }
    .list-view.display div list-view-nav .list-view-nav {
        position: fixed;
        right: 0;
    }
    #current-entry-summary {
        display: block;
        flex: 0 0 auto;
        box-sizing: border-box;
        width: 100%;
        margin: 0.5em 0 0;
        padding: 0.5em 0;
    }
    #current-entry-summary div:first-child {
        font-size: 0.8em;
        padding-bottom: 0.5em;
    }
    #sessions-list{
        padding-bottom: 4em;
    }
    #sessions-list li.selected-entry {
        width: 100vw;
        z-index: 1;
        display: flex;
        flex-flow: column;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        padding-bottom: 3em;
        box-sizing: border-box;
        overflow: auto;
    }
    #sessions-list li.selected-entry::before {
        content: '';
        flex: 1 0 auto;
        background-color: rgba(0,0,0,0.8);
    }
    #sessions-list li.selected-entry .list-entry {
        border-top: 1px solid rgba(239,175,227,0.1);
        flex: none;
    }
    .selected-entry .edit {
        overflow: auto;
        color: rgba(160,60,139,1);
        flex: none;
    }
    .selected-entry .edit .action-bar {
        position: fixed;
        bottom: 0;
    }
    .list-view-end-message {
        max-height: 0px;
        padding: 0px;
        overflow: hidden;
        transition: max-height 0.2s;
    }
    .list-view-end-message.active {
        max-height: 1000px;
    }
    #filters-menu.fade-in .action-bar {
        display: flex;
    }
    #filter-list-title-bar {
        display: none;
    }
    #filters-menu {
        position: fixed;
        bottom: 0;
        transition: 0.5s opacity;
    }
    #filters-menu.fade-in {
        display: flex;
    }
    list-filters .click-catcher.active {
        display: block;
    }
    .handheld-bottom-menu {
        position: absolute;
        bottom: 0;
    }
    #manage-view {
        flex-flow: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #manage-view ul {
        width: 100%;
    }
    .top-manage-list-area {
        width: 100vw;
    }
    #top-manage-list {
        margin: 0 0 3.5em;
    }
    .sublists-area {
        margin: 0;
        padding: 0;
        left: 200%;
        background-color: rgba(45,14,38,1);
    }
    .sublists-area.active {
        left: 0;
    }
    #manage-view .action-bar {
        height: auto;
        float: none;
        background-color: rgba(45,14,38,1);
    }
    #manage-view .action-bar.add-sublist-options #close-manage-view-button {
        display: none;
    }
    .add-sublist-options  #cancel-manage-view-button, .add-sublist-options #save-manage-view-button {
        display: inline;
    }
}