body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(45,14,38,1);
    color: rgba(160,60,139,1);
    font-family: Montserrat;
    font-weight: 300;
}

.wrapper {
    max-width: 62em;
    margin: 0 auto;
    text-align: center;
}

.drawer-view-nav {
    border-top: 1px solid rgba(239,175,227,0.1);
    background-color: rgba(96,37,81,1);
    user-select: none;
    overflow: hidden;
    padding: 0 1em;
}

.drawer-view-nav .nav-button {
    float: right;
}

.nav-button {
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
}

form, ul, fieldset, input {
    margin: 0;
    padding: 0;
    border: none;
    background-color: unset;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: none;
   background-color: unset;
   color: white;
   font-size: 1em;
   text-align: right;
   font-family: Montserrat;
}

select option {
    padding: 0.5em;
    text-align: right;
}

select::after {
    content: '';
    background-color: black;
    position: absolute;
    height: .6em;
    width: .6em;
    left: 0.3em;
    top: 0.8em;
    background-size: cover;
    background-image: url(/static/timeblob/img/white-menu-triangle.svg);
}

.component-wrapper {
    display: inline;
}

/* ================================
    Stopwatch Styles
================================= */

.timer-area {
    margin: 2em;
    display: inline-block;
    vertical-align: middle;
}

#stopwatch {
    display: inline-block;
    position: relative;
    min-width: 256px;
    min-height: 256px;
    box-sizing: border-box;
    background-image: url('/static/timeblob/img/clock-face.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#stopwatch-time {
    color: rgba(160,60,139,0);
    text-align: center;
    z-index: 50;
    position: absolute;
    margin: 0;
    transition: color 1s;
}

#stopwatch-time.running {
  color: rgba(255,255,255,1)
}

#clock-hand {
    max-width: 400px;
}

#clock-hand-inner-glow, #clock-hand-big-back-glow {
    opacity: 0;
    transition: opacity 2s;
}

#stopwatch-message {
    cursor: pointer;
    transition: color 0.3s;
}

#stopwatch-message:hover {
    color: white;
    z-index: 100;
}

/* ================================
    Current Entry Form Styles
================================= */

#current-entry-summary {
    display: none;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(96,37,81,0.2), rgba(255,149,77,0.2) 100%);
    color: rgba(255,149,77,1);
    transition: background 3s, color 3s;
}

#current-entry-summary:hover {
    background: linear-gradient(to bottom, rgba(96,37,81,0.2), rgba(255,149,77,0.5) 100%);
}

#current-entry-summary li .list-entry:hover {
    background-color: unset;
}

#current-form-area {
    padding: 1em;
    max-width: 30em;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

#current-entry-form {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#current-entry-form label {
    display: inline-block;
    width: 16%;
    box-sizing: border-box;
    text-align: right;
    text-overflow: ellipsis;
    cursor: pointer;
    font-weight: 100em;
}

#current-entry-form input {
    display: inline-block;
    width: 74%;
    padding: 0.2em;
    margin: 0.5em;
    text-align: left;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(90,90,90,0);
    color: rgba(255,149,77,1);
    font-family: Montserrat;
    font-weight: 200;
    font-size: 1em;
    transition: border 0.5s, color 0.5s;
    text-overflow: ellipsis;
}

#current-entry-form input:focus {
    border-bottom: 1px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
    outline: none;
}

#current-entry-form input:focus ~ input {
    border-bottom: 1px solid rgba(255,149,77,0.5);
}

input#input-start-time, input#input-start-date, input#input-end-time, input#input-end-date {
    width: 34%;
}

#entry-form-submit-button {
    font-family: Montserrat;
    font-weight: 200;
    border: solid 2px rgba(160,60,139,0.5);
    color: rgba(160,60,139,1);
    background: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0.2em 1em;
    border-radius: 2px;
    margin-top: 1em;
}

/* ================================
    List View Styles
================================= */

.list-view {
    max-width: 36em;
    margin: 0 auto 5em auto;
    text-align: center;
}

.list-view.display {
    display: block;
}

.nodisplay {
    display: none;
}

#sessions-list {
    list-style: none;
    width: 100%;
    background-color: rgba(96,37,81,1);
    color: rgba(239,175,227,1);
    font-weight: 200;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    display: flex;
    flex-flow: column;
}

.list-entry {
    text-align: left;
    padding: 1em;
    transition: 0.2s;
    display: flex;
    flex-flow: row;
    flex: 0 1;
}

.list-entry:hover {
    background-color: rgba(106,47,91,1);
    color: white;
    cursor: pointer;
}

.list-entry span:first-child {
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-entry span:nth-child(2n) {
    flex: 0 0 4em;
    text-align: right;
}

.edit {
    max-height: 0px;
    overflow: hidden;
    transition: 0.2s max-height;
}

.edit.active {
    max-height: 1000px;
    overflow: hidden;
}

.list-entry.selected-entry {
    background-color: rgba(106,47,91,1);
    color: rgba(255,255,255,0);
    cursor: pointer;
    padding: 0 1em;
}

.date-line {
    text-align: center;
    color: rgba(239,175,227,0.32);
    font-size: 0.875em;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: row;
}

.date-line span {
    position: relative;
    top: -0.5em;
    margin: 0  1em;
    border-bottom: solid 1px rgba(239,175,227,0.32);
    flex: auto;
}

.list-view-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(19,170,114,1);
    background-color: rgba(0,60,54,1);
    box-shadow: 0px -10px 10px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    text-align: right;
}

.list-view-nav .nav-button:first-child {
    float: left;
}

#list-view-button {
    display: none;
    padding: 1em;
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* ================================
    Edit Entry Form Styles
================================= */

edit-entry-form form {
    font-size: 0.9em;
    background: linear-gradient(to bottom, rgba(96,37,81,1), rgba(43,20,48,1) 33%);
    text-align: left;
    padding: 1em;
}

edit-entry-form form div, #filters-menu form div {
    display: flex;
    flex-flow: row;
}

edit-entry-form form label {
    padding: 0.5em 0;
    flex: 0 1;
}

edit-entry-form form input {
    padding: 0.5em 0 0.5em 0.5em;
    color: white;
    border: none;
    font-family: Montserrat;
    font-size: 1em;
    text-align: right;
    text-overflow: ellipsis;
    flex: 1 1;
}

edit-entry-form form input:nth-child(3n) {
    flex: 0 1;
}


/* ================================
    List Filters Styles
================================= */

#filter-list-title-bar {
    padding: 0.5em 2em;
    border-bottom: 1px solid rgba(19,170,114,0.2);
    width: 4em;
    background-color: rgba(0,60,54,1);
    color: rgba(19,170,114,1);
    vertical-align: middle;
    user-select: none;  
}

#filter-icon.active > rect, #filter-icon.active > line { 
    stroke: white;
} 
 
.filter-icon-box-fall { 
    animation: 4s linear infinite box-drops; 
    stroke: white; 
} 
 
.filter-icon-box-fall-fade { 
    animation: 4s linear infinite box-fade-out, 4s linear infinite box-drops; 
    stroke: white; 
} 
 
@keyframes box-drops { 
    0% {transform: translateY(0px);} 
    100% {transform: translateY(14px);} 
} 
 
@keyframes box-fade-out { 
    0%, 25% {opacity: 1;} 
    50%, 100% {opacity: 0;} 
}

#filters-menu {
    z-index: 2;
    width: 100%;
    color: rgba(160,60,139,1);
}

#filters-menu form {
    width: 100%;
    background: linear-gradient(to bottom, rgba(96,37,81,1), rgba(43,20,48,1) 33%);
}

#filters-menu form div {
    padding: 0em 1em;
    position: relative;
}

#filters-menu form div.active label:before {
    content: '';
    position: absolute;
    display: block;
    height: .6em;
    width: .6em;
    top: 0.75em;
    left: 0.25em;
    background-size: cover;
    background-image: url(/static/timeblob/img/checkmark.svg);
}

#filters-menu form div input, #filters-menu form div label {
    padding: 0.5em 0;
    flex: 1 1 auto;
    text-align: left;
    font-family: Montserrat;
    font-size: 1em;
}

#filters-menu form div select {
    color: rgba(160,60,139,1);
}

#filters-menu form div input {
    text-align: right;
    flex: 0 0 auto;
}

#filters-menu form div.active label, #filters-menu form div.active input, #filters-menu form div.active select {
    color: rgba(239,175,227,1);
}

/* ================================
    Responsive Extras
================================= */

@media only screen and (max-width: 540px) {
    .timer-area {
        margin: 20% 2em 2em;
    }
    .list-view {
        position: absolute;
        display: none;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(45,14,38,1);;
        padding: 0;
        background-image: url(/static/timeblob/img/diagonal-pinstripes.svg);
        left: 100%;
        transition: position 1s, left 1s;
    }
    .list-view.display {
        left: 0%;
        display: block;
        animation: 0.2s linear 1 slide-from-left;
    }
    @keyframes slide-from-left {
        0% {left: 100%;} 
        100% {left: 0%;} 
    }
    #list-view-button {
        display: inline-block;
    }
    .list-view-nav {
        display: block;
    }
    #current-entry-summary {
        display: block;
        bottom: 0em;
        width: 100%;
    }
    #current-form-area {
        display: none;
        position: absolute;
        bottom: -100%;
    }
    #filter-list-title-bar {
        display: none;
    }
    #filters-menu {
        position: fixed;
        top: 0px;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        opacity: 0;
        transition: 0.5s opacity;
        pointer-events: none;
    }
    #filters-menu.fade-in {
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
}

@media only screen and (max-width: 400px) {
    #stopwatch {
        max-width: 100%;
    }
    #clock-hand {
        max-width: 100%;
    }
}
