<form class="edit-form">
    <!-- Semantically we would prefer to use fieldset instead of div to group these items, but some browsers do not support flex display with the fieldset element -->
    <div>
        <input size="" title="" type="text" name="activity" value="Fathoming the depths of Moria" placeholder="" id="input-edit-activity" ng-model="$ctrl.editEntry.activity">
        <label for="input-edit-activity">Activity</label> 
    </div>
    <div>
        <input size="" title="" type="text" name="project" value="Gimli is Cool" placeholder="" id="input-edit-project" ng-model="$ctrl.editEntry.project">
        <label for="input-edit-project">Project</label> 
    </div>
    <div>
        <input size="" title="" type="text" name="client" value="Elrond" placeholder="" id="input-edit-client" ng-model="$ctrl.editEntry.client">
        <label for="input-edit-client">Client</label> 
    </div>
    <div>
        <input size="" title="" type="text" name="organization" value="The Fellowship Support Group" placeholder="" id="input-edit-organization" ng-model="$ctrl.editEntry.organization">
        <label for="input-edit-organization">Org.</label> 
    </div>
    <div class="form-time-line">
        <div>
            <input size="9" title="" type="text" name="start-time" value="17:30" placeholder="" id="input-edit-start-time" ng-model="$ctrl.editEntry.starttime">
            <label for="input-edit-start-time">Start</label> 
            <input size="9" title="" type="text" name="start-date" value="Mar 1" placeholder="" id="input-edit-start-date" ng-model="$ctrl.editEntry.startdate"> 
        </div>
        <div>
            <input size="9" title="" type="text" name="end-time" value="00:30" placeholder="" id="input-edit-end-time" ng-model="$ctrl.editEntry.endtime">
            <label for="input-edit-end-time">End</label> 
            <input size="9" title="" type="text" name="end-date" value="Mar 2" placeholder="" id="input-edit-end-date"
             ng-model="$ctrl.editEntry.enddate">
        </div>
        <div>
            <input size="9" title="" type="text" name="total-time" value="31h" placeholder="" id="input-edit-total-time" ng-model="$ctrl.editEntry.totaltime">
            <label for="input-edit-total-time">Time</label>
        </div>
    </div>
</form>
<div class="edit-options-bar action-bar">
    <img class="nav-button" src="/static/timeblob/img/cancel.svg" ng-click="$ctrl.editEntry()">
    <img class="nav-button" src="/static/timeblob/img/trash-can.svg" ng-click="">
    <div class="action-bar-center"></div>
    <img class="nav-button" src="/static/timeblob/img/checkmark.svg" ng-click="$ctrl.editEntry()">
</div>