<form>
    <fieldset>
        <label for="input-edit-activity">Activity</label> 
        <input size="" title="" type="text" name="activity" value="Moonshinin" placeholder="" id="input-edit-activity">
    </fieldset>
    <fieldset>
        <label for="input-edit-total-time">Time</label> 
        <input size="" title="" type="text" name="total-time" value="31h" placeholder="" id="input-edit-total-time"> 
    </fieldset>
    <fieldset>
        <label for="input-edit-project">Project</label> 
        <input size="" title="" type="text" name="project" value="Hootinanny" placeholder="" id="input-edit-project"> 
    </fieldset>
    <fieldset>
        <label for="input-edit-client">Client</label> 
        <input size="" title="" type="text" name="client" value="Granpappy" placeholder="" id="input-edit-client"> 
    </fieldset>
    <fieldset>
        <label for="input-edit-organization">Org.</label> 
        <input size="" title="" type="text" name="organization" value="" placeholder="" id="input-edit-organization"> 
    </fieldset>
    <fieldset>
        <label for="input-edit-start-time">Start</label> 
        <input size="9" title="" type="text" name="start-time" value="17:30" placeholder="" id="input-edit-start-time"> 
        <input size="9" title="" type="text" name="start-date" value="11/3/94" placeholder="" id="input-edit-start-date"> 
    </fieldset>
    <fieldset>
        <label for="input-edit-end-time">End</label> 
        <input size="9" title="" type="text" name="end-time" value="00:30" placeholder="" id="input-edit-end-time"> 
        <input size="9" title="" type="text" name="end-date" value="11/5/94" placeholder="" id="input-edit-end-date">
    </fieldset>
</form>
<div class="drawer-view-nav">
    <img class="nav-button" src="/static/timeblob/img/checkmark.svg" on-edit-toggle="$ctrl.editEntry()">
</div>