<div id="manage-view" ng-class="{'display': $ctrl.manageViewActive}">
    <div class="full-screen fixed-background" ng-class="{'display': $ctrl.manageViewActive}"></div>
    <div class="top-manage-list-area" ng-class="{'display': $ctrl.manageViewActive}">
        <ul id="top-manage-list" class="manage-list">
            <li ng-click="$ctrl.toggleSubLists(0)" ng-class="{'list-item-selected': $ctrl.projectListActive}">Projects</li>
            <li ng-click="$ctrl.toggleSubLists(1)" ng-class="{'list-item-selected': $ctrl.clientListActive}">Clients</li>
            <li ng-click="$ctrl.toggleSubLists(2)" ng-class="{'list-item-selected': $ctrl.orgListActive}">Organizations</li>
        </ul>
    </div>
    <div class="sublists-area small-wrapper" ng-class="{'active': $ctrl.subListActive}">
        <div class="column-expanding-spacer"></div>
        <ul id="project-list" class="sublist" ng-class="{'display': $ctrl.projectListActive}">
            <li><input type="text" value="Brand Website Revamp"></li>
            <li><input type="text" value="Time Blob"></li>
            <li><input type="text" value="New Dashboard"></li>
        </ul>
        <ul id="client-list" class="sublist" ng-class="{'display': $ctrl.clientListActive}">
            <li><input type="text" value="Supply Co."></li>
            <li><input type="text" value="General Inc."></li>
            <li><input type="text" value="National Corp."></li>
            <li><input type="text" value="National Packaging Partners"></li>
            <li><input type="text" value="State Logistics LLC"></li>
            <li><input type="text" value="International Products Inc."></li>
            <li><input type="text" value="Shipping Limited"></li>
            <li><input type="text" value="Top Imports and Exports"></li>
            <li><input type="text" value="Osgood and Sons"></li>
            <li><input type="text" value="Reynholm Industries"></li>
            <li><input type="text" value="Majestic 12"></li>
            <li><input type="text" value="Maggie Chow"></li>
            <li><input type="text" value="Page Industries"></li>
            <li><input type="text" value="Versalife"></li>
            <li><input type="text" value="Digitech"></li>
            <li><input type="text" value="NASA"></li>
        </ul>
        <ul id="organization-list" class="sublist" ng-class="{'display': $ctrl.orgListActive}">
            <li><input type="text" value="Freelance"></li>
            <li><input type="text" value="Supply Co."></li>
        </ul>
    </div>

    <div class="action-bar" ng-class="{'add-sublist-options': $ctrl.subListActive}">
        <img class="nav-button" id="close-manage-view-button" src="/static/timeblob/img/close-x.svg" ng-click="$ctrl.toggleManageView(9)">
        <img class="nav-button" id="cancel-manage-view-button" src="/static/timeblob/img/cancel.svg" ng-click="$ctrl.toggleSubLists()">
        <div class="action-bar-center"></div>
        <img class="nav-button" id="save-manage-view-button" src="/static/timeblob/img/checkmark.svg" ng-click="$ctrl.toggleSubLists()">

    </div>
</div>