<div id="current-form-area" ng-class="{'display': $ctrl.currentEntryFormActive}">
<form id="current-entry-form" ng-class="{'focus': $ctrl.isFocused}">
    <div>
        <label for="input-activity">Activity</label>
        <input size="" title="" type="text" name="activity" value="" placeholder="" ng-model="$ctrl.currentEntry.description" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
    </div>
    <div>
        <label for="input-project">Project</label>
        <input size="" title="" type="text" name="project" value="" placeholder="" ng-model="$ctrl.currentEntry.project" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
    </div>
    <div>
        <label for="input-client">Client</label>
        <input size="" title="" type="text" name="client" value="" placeholder="" id="input-client" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
    </div>
    <div>
        <label for="input-activity">Org.</label>
        <input size="" title="" type="text" name="organization" value="" placeholder="" id="input-organization" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
    </div>
    <div>
        <label for="input-total-time">Time</label>
        <input size="" title="" type="text" name="total-time" value="" placeholder="" id="input-total-time" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
    </div>
    <div>
        <label for="input-start-time">Start</label>
        <input size="" title="" type="text" name="start-time" value="" placeholder="" id="input-start-time" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
        <input size="" title="" type="text" name="start-date" value="" placeholder="" id="input-start-date" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
    </div>
    <div>
        <label for="input-end-time">End</label>
        <input size="" title="" type="text" name="end-time" value="" placeholder="" id="input-end-time" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
        <input size="" title="" type="text" name="end-date" value="" placeholder="" id="input-end-date" ng-focus="$ctrl.currentEntryFormFocus()" ng-blur="$ctrl.currentEntryFormFocus()">
    </div>
    <button type="submit" value="Send" id="entry-form-submit-button">Add Now</button>
</form>
<div class="actions-bar edit-options-bar">
    <div class="nav-button">Add Now</div>
    <img class="nav-button" src="/static/timeblob/img/checkmark.svg" ng-click="$ctrl.toggleCurrentEntryForm()">
</div>
</div>