<div id="filter-list-title-bar" ng-click="$ctrl.toggleFiltersMenu()">
    <div class="nav-button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <polygon fill="none" stroke="rgba(19,170,114,1)" stroke-width="3" points="4.145,4 19.855,4 14,12.678 14,16 10,19 10,12.678 "/>
        </svg>
    </div>
    <p class="time-total"><span class="total-time-tag">This Week - </span><span class="total-time-digits"> 31h</span></p>
</div>

<div id="filters-menu" ng-class="{'fade-in': $ctrl.filtersMenuActive}">
    <form class="edit" ng-class="{'active': $ctrl.filtersMenuActive}">
        <div class="active">
            <label>Users</label>
            <select>
                <option>Alice</option>
                <option>Billy</option>
                <option>Carl</option>
                <option>Everyone</option>
                <option>-</option>
            </select>
        </div>
        <div>
            <label>Project</label>
            <select>
                <option>-</option>
            </select>
        </div>
        <div>
            <label>Client</label>
            <select>
                <option>-</option>
            </select>
        </div>
        <div class="active">
            <label>Org</label>
            <select>
                <option>Supply Co.</option>
                <option>Acme Co.</option>
                <option>General Inc.</option>
            </select>
        </div>
        <div class="active">
            <label>Date</label>
            <!-- Let's use a calendar picker here -->
            <input type="text" size="5" value="11/3/15"><input type="text" size="5" value="1/3/16">
        </div>
        <div>
            <label>Deleted</label>
            <select>
                <option>-</option>
                <option>Only Deleted</option>
            </select>
        </div>
        <div class="drawer-view-nav">
            <img class="nav-button" src="/static/timeblob/img/checkmark.svg" ng-click="$ctrl.toggleFiltersMenu()">
        </div>
    </form>
</div>
