<img id="swap-icon" src="/static/timeblob/img/swap-icon.svg" ng-click="$ctrl.toggleQuickSwapMenu()">
<div class="click-catcher" ng-click="$ctrl.toggleQuickSwapMenu()" ng-class="{'active': $ctrl.quickSwapMenuActive}"></div>

<div class="picker-window" ng-class="{'active': $ctrl.quickSwapMenuActive}" ng-click="$ctrl.toggleQuickSwapMenu()">
    <p>Thought Leading Human Capital Towards Trending Net Growth</p>
    <img class="nav-button" src="/static/timeblob/img/swap-icon.svg">
    <ul>
        <li>Moonshinin'</li>
        <li>Divining the Astral Planes</li>
        <li>Weeding the Garden</li>
        <li>Cleaning out the Gutters</li>
    </ul>
    
</div>