
<div id="list-view-button" ng-click="$ctrl.toggleListViewNav()">
    <svg id="filter-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <line fill="none" stroke="rgba(19,170,114,1)" stroke-width="0.9993" x1="0" y1="6" x2="24" y2="6"/>
        <line fill="none" stroke="rgba(19,170,114,1)" stroke-width="0.9993" x1="0" y1="12" x2="24" y2="12"/>
        <line fill="none" stroke="rgba(19,170,114,1)" stroke-width="0.9993" x1="0" y1="18" x2="24" y2="18"/>
    </svg>
</div>

<div class="list-view" ng-class="{'display': $ctrl.listViewActive}">

<div>
    <list-filters on-filter-toggle="$ctrl.toggleFiltersMenu()" filters-menu-active="$ctrl.filtersMenuActive"/>
</div>

<ul id="sessions-list">
    <div class="list-view-filler"></div>
    <li class="date-line"><span></span>11/5<span></span></li>
    <li>
        <div class="list-entry" ng-click="$ctrl.editEntry()" ng-class="{'selected-entry': $ctrl.openEntryForEdit}">
            <span>Moonshinin'</span><span>31h</span>
        </div>
        <div class="edit" ng-class="{'active': $ctrl.openEntryForEdit}">
            <edit-entry-form/>
        </div>
    </li>
</ul>

<div>
    <list-view-nav on-close="$ctrl.toggleListViewNav()" on-filters-toggle="$ctrl.toggleFiltersMenu()"/>
</div>

</div>