
<div id="list-view-button" ng-click="$ctrl.toggleListViewNav()">
    <svg id="filter-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <line fill="none" stroke="rgba(19,170,114,1)" stroke-width="0.9993" x1="0" y1="6" x2="24" y2="6"/>
        <line fill="none" stroke="rgba(19,170,114,1)" stroke-width="0.9993" x1="0" y1="12" x2="24" y2="12"/>
        <line fill="none" stroke="rgba(19,170,114,1)" stroke-width="0.9993" x1="0" y1="18" x2="24" y2="18"/>
    </svg>
</div>

<div class="list-view" ng-class="{'display': $ctrl.listViewActive}">

<div>
    <list-filters on-filter-toggle="$ctrl.toggleFiltersMenu()" filters-menu-active="$ctrl.filtersMenuActive"/>
</div>

<div>
    <list-view-nav on-close="$ctrl.toggleListViewNav()" on-filters-toggle="$ctrl.toggleFiltersMenu()"/>
</div>

<table id="sessions-table">
    <tr>
        <td colspan="2" class="date-line"><span></span>6/23<span></span></td>
    </td>
    <tr class="list-entry-row" ng-repeat="" ng-click="$ctrl.editEntry()" ng-class="{'selected-entry': $ctrl.openEntryForEdit}">
        <td><span>Head Meta Tag Updates</span></td>
        <td>1h 43m</td>
    </tr>
    <tr class="edit" ng-class="{'active': $ctrl.openEntryForEdit}">
        <td colspan="2">
            <edit-entry-form/>
        </td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Minor Style Sheet Adjustments</span></td>
        <td>39m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Git Cleanup</span></td>
        <td>3h 2m</td>
    </tr>
    <tr>
        <td colspan="2" class="date-line"><span></span>6/22<span></span></td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Creating Identity Concepts</span></td>
        <td>4h 11m</td>
    </tr>
    <tr>
        <td colspan="2" class="date-line"><span></span>6/21<span></span></td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Identity Discovery</span></td>
        <td>1h 31m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Identity Discovery</span></td>
        <td>2h 14m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Client Consultation</span></td>
        <td>1h</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>UX Design</span></td>
        <td>2h 34m</td>
    </tr>
    <tr>
        <td colspan="2" class="date-line"><span></span>6/18<span></span></td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Client Call</span></td>
        <td>15m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Design Comittee Presentation</span></td>
        <td>1h 17m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Presentation Prep</span></td>
        <td>4h 7m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Concept Prep</span></td>
        <td>24m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Identity Concept Design</span></td>
        <td>3h 23m</td>
    </tr>
    <tr>
        <td colspan="2" class="date-line"><span></span>6/17<span></span></td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Identity Concept Design</span></td>
        <td>3h 23m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Identity Concept Design</span></td>
        <td>1h 47m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Client Phone Call</span></td>
        <td>1h 3m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Identity Concept Design</span></td>
        <td>2h 23m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Rework of Form Front End</span></td>
        <td>1h 14m</td>
    </tr>
    <tr>
        <td colspan="2" class="date-line"><span></span>6/16<span></span></td>
    </tr>
    <tr class="list-entry-row">
        <td><span>UX Consultation</span></td>
        <td>2h 10m</td>
    </tr>
    <tr class="list-entry-row">
        <td><span>Identity Concept Design</span></td>
        <td>1h 19m</td>
    </tr>
    <tr>
        <td colspan="2" class="date-line">Scroll to load 20 more</td>
    </tr>
</table>
</div>
